@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --main-color: #1e55b7;
  --bg-primary: #e5e5e5;
  --bg-secondary: #e3ebfa; 
  --text-color-primary: #023165; 
  --text-color-secondary: #030d42;
  --footer-bg: #212744;
  --footer-link-color: #889ab4;

  /*========== Font and typography ==========*/
  --body-font: 'Raleway', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-medium: 400;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-secondary);
  color: var(--text-color-primary);
  line-height: 1.6;
}

body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color-primary);
  font-size: 1rem;
  cursor: pointer;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
h4{
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size); 
  padding-bottom: 0px;
}
ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
ion-icon{
  font-size: 1.5rem;
}
/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h2-font-size);
  color: var(--text-color-primary);
  margin-bottom: var(--mb-1);
}

.section-subtitle{
  display: block;
  color: var(--text-color-primary);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: rgba(3, 13, 66, 1);
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--bg-secondary);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav-item{
  margin-bottom: var(--mb-2);
}

.nav-link, .nav-logo, .nav-toggle{
  color: var(--text-color-primary);
  font-weight: var(--font-medium);
}

.nav-logo:hover{
  color: var(--footer-link-color);
}

.nav-link{
  transition: .3s;
}

.nav-link:hover{
  color: var(--main-color);
}

.nav-toggle{
  font-size: 1.3rem;
  cursor: pointer;
}
/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background: var(--bg-secondary);
  transition: 1s;
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: var(--bg-secondary);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--bg-secondary);
  color: var(--footer-bg);
}

.scrolltop-icon{
  font-size: 1.8rem;
  color: var(--footer-link-color);
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
#home{
  background: linear-gradient( rgba(3, 13, 66, 0.4), rgba(0, 0, 0, 0.5) ), url('img/2174912 1.jpg');
  max-width: 100%;
  height: auto;
}
.home-container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home-title{
  font-size: var(--biggest-font-size);
  color: #fff;
  margin-bottom: var(--mb-1);
  text-align: center; 
}

.home-subtitle{
  font-size: var(--h1-font-size);
  color: var(--bg-secondary);
  text-align: center;
  margin-bottom: var(--mb-4);
}

.home-img{
  width: 300px;
  justify-self: center;
}
.btn-group{
  text-align: center; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  margin: var(--mb-2) auto;
}
.demo-cta{
  background: var(--main-color);
  color: white; 
  padding: .5rem 2rem;
}
.pricing-cta{
  background: transparent;
  padding: .5rem 2rem;
  color: var(--bg-secondary);
  outline: .5px solid var(--bg-primary);
}

/*********** Cards ***********/
.card-container{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center; 
  flex-wrap: wrap; 
  margin: var(--mb-2) auto var(--mb-2) auto;
}
.card{
  max-width: 85%;
  height: 15rem;
  background: var(--bg-secondary);
  box-shadow: 0px 16px 24px rgba(128,128,128,.15);
  border-radius: 5px; 
  padding: var(--mb-1);
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  justify-content: center; 
  align-items: center;
  margin: var(--mb-3) auto;
}
.card-img{
  width: rem;
  height: 2rem;
  max-width: 100%;
}
/******** About us ***********/
.about-data{
  text-align: left;
}

.about-description{
  margin-bottom: var(--mb-3);
}

.about-img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}
.about-initial{
  text-align: initial;
}